env:
  - TRAVIS_BUILD_DIR=/home/pi
language: python
python:
  - "3.5"
# set up virtual environment
virtualenv:
  system_site_packages: true
# install gtk 3
before_install:
  - sudo apt-get install -y libgtk-3-dev libwebkitgtk-3.0-0 gir1.2-webkit2-4.0
# command to install dependencies
install:
  - pip install -r requirements.txt
  - sudo mkdir /home/pi
  - cd /home/pi
  - sudo git clone --depth=50 --branch=master https://github.com/BlaT2512/HydroSoil.git /home/pi
  - sudo git checkout -qf $TRAVIS_COMMIT
  - sudo chmod -R a+rwx /home/pi
# command to run tests
script:
  - python3 HydroSoil/main.py
  - python3 HydroLauncher/launcher.py
# Note: MQTT file is not tested as it opens a MQTT server which can't be tested in Travis CI
