env:
  - TRAVIS_BUILD_DIR=/home/pi
language: python
python:
  - "3.5"
# set up virtual environment
virtualenv:
  system_site_packages: true
# install gtk 3
before_install:
  - sudo apt-get install -y libgtk-3-dev
# command to install dependencies
install:
  - pip install -r requirements.txt
  - cd /home/pi
  - git clone --depth=50 --branch=master https://github.com/BlaT2512/HydroSoil.git HydroSoil
  - cd HydroSoil
  - git checkout -qf $TRAVIS_COMMIT
# command to run tests
script:
  - python3 HydroSoil/main.py
  - python3 HydroSoil/mqtt.py
  - python3 HydroLauncher/launcher.py
